@keyframes shiny-glimmer {
  0% {
    color: silver;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    color: #e6e6e6;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  100% {
    color: silver;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

.shiny-letter {
  color: rgb(255, 255, 255);
  transition: color 0.2s, text-shadow 0.2s;
  text-shadow: 0 0 5px rgba(255, 251, 251, 0.5);
}

@keyframes shiny-border {
  0% {
    border-image-source: linear-gradient(to right, #f97316, #ff00ff, #f97316);
  }
  50% {
    border-image-source: linear-gradient(to left, #783200, #f97316, #f97316);
  }
  100% {
    border-image-source: linear-gradient(
      to right,
      #f97316,
      #ff00ff,
      #f97316,
      #783200,
      #f97316,
      silver,
      #f97316,
      silver,
      #f97316,
      silver,
      #783200
    );
  }
}

.shiny-border {
  border: 2px solid transparent;
  border-image-slice: 1;
  border-width: 2px;
  animation: shiny-border 2s linear infinite;
  height: 100%;
}

@keyframes shiny-border2 {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
